NEXT_PUBLIC_HOST_URL=http://localhost:3000

SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

SUPABASE_LOCAL_AUTH_EXTERNAL_GOOGLE_ID=
SUPABASE_LOCAL_AUTH_EXTERNAL_GOOGLE_SECRET=

SUPABASE_LOCAL_AUTH_EXTERNAL_LINKEDIN_ID=
SUPABASE_LOCAL_AUTH_EXTERNAL_LINKEDIN_SECRET=

SUPABASE_LOCAL_AUTH_EXTERNAL_GITHUB_ID=
SUPABASE_LOCAL_AUTH_EXTERNAL_GITHUB_SECRET=

SUPABASE_LOCAL_AUTH_EXTERNAL_SLACK_ID=
SUPABASE_LOCAL_AUTH_EXTERNAL_SLACK_SECRET=

